@model IEnumerable<SuperMarket.Associate.DTO.ProductDTO>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userName = Context.Session.GetString("currentUser");

}

<h1>List</h1>

<div class="row mb-2">
    @foreach (var item in Model)
    {
        <div class="col-md-4 baran">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">@item.Name</h3>

                    @if (item.Description != null)
                    {
                        if (item.Description.Length > 50)
                        {
                            <p class="card-text mb-auto">@item.Description.Substring(50)...</p>
                        }
                        else
                        {
                            <p class="card-text mb-auto">@item.Description</p>
                        }
                    }

                </div>
                <div class="col-auto d-none d-lg-block">

                    <img src="https://reimg-teknosa-cloud-prod.mncdn.com/mnresize/300/300/productimage/125077287/125077287_0_MC/8820538146866_1571310130510.jpg" style="width:250px; height:250px;"><br />

                    <span>Fiyat:</span><b class="price">@item.Price</b><br />
                    <span>Stok:</span><b class="stock">@item.Stock</b><br />

                    @if (userName != null)
                    {
                        <input type="button" class="btn btn-warning AddCard" value="Sepete Ekle" data-id="@item.Id" data-price="@item.Price" />
                        <input type="button" class="btn-sm btn-danger Delete" value="Sil" data-id="@item.Id" />
                        <a href="/Product/Edit/@item.Id">
                            <input type="button" class="btn-sm btn-info" value="Edit" />
                        </a>

                    }


                    <a href="/Product/Detail/@item.Id">
                        <input type="button" class="btn-sm btn-primary" value="Details" />
                    </a>
                </div>
            </div>
        </div>
    }

</div>
<div id="getProductList">
    @await Html.PartialAsync("_ProductListPartial", Model)
</div>
<div id="pencere" style="display:none;width:133px;height:25px;border:0 solid black;position:fixed;top:50%;left:50%;padding:2px;text-align:center; color:white">
    Yükleniyor...
</div>

@section Scripts{

    <script>
        var SayfaSayisi = 1;
        var SayfaPost = true;
        $(window).scroll(function () {
            if (SayfaPost) {
                if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
                    $("#pencere").show();
                    $.ajax({
                        url: '/Product/List',
                        data: { "sayfano": SayfaSayisi },
                        success: function (data) {
                            if ($.trim(data) == '' || data == null || data.result == "0") {
                                SayfaPost = false;
                                return;
                            }
                            else {
                                $("#getProductList").append(data);
                                SayfaSayisi++;

                            }
                            $("#pencere").hide();
                        }
                    });
                }
            }
        });
    </script>
    <script type="text/javascript">
        $(document).on("click", ".AddCard", function () {
            var id = $(this).attr("data-id");
            var price = $(this).attr("data-price");
            var stock = $(this).parent().find("b.stock").text();
            var lastQuantity = parseInt(stock) - 1;
            var ne = this;
            
            $.ajax({
                url: '/CartItem/Add',
                data: { "productId": id, "price": price },
                type: 'POST',
                success: function (result) {
                    if (stock != "0") {
                        $(ne).parent().find("b.stock").text(lastQuantity);
                        alert(result.message);
                    }
                    else {
                        alert(result.message);
                    }
                    

                },
                error: function (result) {
                    alert("Ürün sepete eklenirken bir hata oluştu." + "Hata Mesajı:" + result.message);

                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).on("click", ".Delete", function () {
            var confirmdelete = confirm("Silme işlemini onaylıyor musunu?");
            if (confirmdelete) {
                var id = $(this).attr("data-id");
                var tr = $(this).closest("div.baran");
                $.ajax({
                    url: '/Product/Delete/' + id,
                    type: 'POST',
                    success: function (result) {
                        if (result == "1") {
                            tr.fadeOut(400, function () {
                                tr.remove();
                            });
                        }
                        else {
                            alert("Silme sırasında bir hata oluştu");
                        }
                    }
                });
            }
        });
    </script>

}
